<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>青空文庫検索</title>
</head>
<body>
    <h1>青空文庫検索</h1>
    
    <form method="post">
        <div>
            <label for="title_query">作品名:</label>
            <input type="text" id="title_query" name="title_query">
        </div>
        
        <div>
            <label for="author_query">著者名:</label>
            <input type="text" id="author_query" name="author_query">
        </div>

        <div>
            <label for="birth_query">著者生年:</label>
            <input type="text" id="birth_query" name="birth_query">
        </div>

        <div>
            <label for="death_query">著者没年:</label>
            <input type="text" id="death_query" name="death_query">
        </div>

        <div>
            <label for="ranking_query">ランキング:</label>
            <input type="text" id="ranking_query" name="ranking_query">
        </div>

        <input type="submit" value="検索">
    </form>
</body>
</html>